{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'mapg/style.css' %}" />
    <title>{% block title %}Make your own maps{% endblock %}</title>
</head>

<body>
	<header>
		<ul>
			<li><a href="{% url 'mapg:index' %}">Make a new map</a></li>
			<li><a href="{% url 'mapg:archive' %}">Maps already made</a>
				<ul>
					<li>London</li>
					<li>Paris</li>
					<li>Stockholm</li>
				</ul>
			</li>
			<!-- Oooh could filter maps in archive by location -->
		</ul>
	</header>

	<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>