* {
	margin: 0;
	padding: 0;
}

header {
	height: 100px;
	border-bottom: 10px solid black;
}

header > ul {
	margin: 40px 20px;
}

header li a, header li li a, header li li {
	display: inline-block;
	padding: 10px 20px;
	font-family: 'Varela Round', sans-serif;
}

header li a {
	background-color: #FFCC33;
}

header li li a, header li li {
	background-color: #E00000;
	color: white;
}

div#content {
	margin: 20px;
}

form {
	margin: 20px;
}

form p *:not(label), .label {
	font-family: 'Dancing Script', cursive;
	font-family: 'Cookie', cursive;
	font-size: 2em;
}

.label:after {
	content: " :";
}

a {
	color: black;
	text-decoration: none;
}

li img {
	height: 150px;
	width: auto;
	border: solid black 1px;
	margin: 6px 8px 0 0;
	padding: 2px;
}

ol li li:not(.img) {
	display: none;
}

li, header ul {
	display: inline-block;
}

ol li {
	list-style: none;
}