/*
600=1*3*2-2*3*2-7*2-x*3
568/3=190

WhiteSmoke
PlantationWhite
WeddingVeil
gray99
*/

/* GENERAL */

body {
	font-size: 0.9em;
	background-color: WhiteSmoke;
	width: 604px;
	margin: auto;
	margin-bottom: 50px;
	padding-top: 50px;
	font-family: Helvetica, sans-serif;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

div#content p a, footer a {
	text-decoration: underline;
}

/* THE BLACK LABEL STYLE */

header li a, form > ul > li > ul> li > label {
	background-color: black;
	color: white;
	display: inline-block;
	padding: 2px 5px 2px 20px;
	margin: 1px 2px 0 2px;
	border: solid 1px white;
}

header li a:hover, form > ul > li > ul> li > label:hover {
	background-color: white;
	color: black;
	border: solid 1px black;
}

/* MENU BAR */

header li a {
	margin-left: 0px;
	border: 1px solid black;
}

header ul {
	margin-bottom: 2px;
}

header li {
	display: inline-block;
	margin-right: -2px;
}

/* MAIN CONTENT */

div#map {
	border: 1px solid black;
	width: 600px;
	height: 400px;
	position: absolute;
	z-index: -1;
}

div#OpenLayers_Control_Zoom_5 {
	padding: 0;
}

div#OpenLayers_Control_Zoom_5 a {
	background-color: white;
	color: black;
	font-size: 14px;
}

div#OpenLayers_Control_Attribution_7 {
	display: none;
}

/*These are the images in the Archive*/
#content > ol > li img {
	width: 300px;
	height: 200px;
	border: solid black 1px;
	margin: 0px 1px 2px 0;
	padding: 2px;
}

#content > ol {
	width: 650px;
}

#content ol > li {
	display: inline-block;
}

/*This is the detail image*/
#content > a > img {
	width: 600px;
	border: 1px solid black;
	padding: 3px;
}

#content h1 {
	display: none;
}

/*This is so that details of the images don't appear on the archive page*/
ol li li:not(.img) {
	display: none;
}

/* THE FORM ELEMENTS (index page only) */

form {
	position: relative;
}

form > ul > li, form input[type=submit] {
	position: absolute;
}

form > ul > li > ul label {
	transition: opacity .4s ease-out;
	-moz-transition: opacity .4s ease-out;
	-webkit-transition: opacity .4s ease-out;
	-o-transition: opacity .4s ease-out;
}

form li.where {
	top: 4px;
}

form li.design {
	text-align: right;
	top: 4px;
	right: 2px;
}

form li.design li label {
	padding-left: 5px;
	padding-right: 20px;
}

form li.placemarks {
	top: 402px;
	left: -1px;
}

form li.zoom {
	display: none;
}

/* Titles of the sections (where, design, etc) */
form .label {
	display: none;
}

form input[type=text] {
	display: none;
}

form input[type=submit] {
	top: -26px;
	right: 0px;
	padding: 2px 5px 2px 20px;
	font-size: 0.9em;
	background-color: white;
	border: solid 1px black;
}

/* radio button trick */
form input[type=radio] {
	display: none;
}
input[type=radio]:checked + label { 
	position: relative;
	background-color: white;
	color: black;
	border: solid 1px black;
}

li.design input[type=radio]:checked + label { 
	right: -15px;
}
li.where input[type=radio]:checked + label { 
	left: -15px;
}

/* "Get coordinates" button for debug */
form input[type=button] {
	position: absolute;
	top: 402px;
	right: 0;
}

/* FOOTER attribution text */

footer {
	font-size: 0.5em;
	border-top: 1px solid black;
}

footer h5 {
	margin: 10px 0 -6px 0;
}

/* Underline trick */
footer a {
	text-decoration: none;
	position: relative;
}
footer a:after {
	content: '';

	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0px;

	border-width: 0 0 1px;
	border-style: solid;
	border-color: gray;
}




