{% extends "base.html" %}
{% block title %}Make map{% endblock %}
{% block content %}


<h1>Make a map</h1>

<form action="{% url 'mapg:assemble' next_map_id %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<p>
		<!-- <label for="where">Where</label>
		<input type="text" name="where" id="where" placeholder="best city: London ;)" autofocus /> -->
		<span class="label">Where</span>
		<input type="radio" name="where" value="london" id="london" checked/>
		<label for="london">London</label>
		<input type="radio" name="where" value="paris" id="paris" />
		<label for="paris">Paris</label>
		<input type="radio" name="where" value="stockholm" id="stockholm" />
		<label for="stockholm">Stockholm</label>
		<br />
		
		<span class="label">Zoom level</span>
		<input type="radio" name="zoom" value="12" id="12" checked/>
		<label for="12">City view</label>
		<input type="radio" name="zoom" value="14" id="14" />
		<label for="14">Street view</label>
		<br />
		
		<!-- Automatically generate this map provider list from the mapgift.py file -->
		<span class="label">Design</span>
		{% for shortcut, name in providers.iteritems %}
			<input type="radio" name="design" value="{{ shortcut }}" id="{{ shortcut }}" />
			<label for="{{ shortcut }}">{{ name|lower }}</label>
		{% endfor %}
		<br />

		<span class="label"><label for="placemarks">Add placemarks</label></span>
		<input type="file" name="placemarks" id="placemarks" />

	</p>
	<input type="submit" name="submit" value="Generate Map n°{{ next_map_id }}"/>
</form>


{% endblock %}