<!DOCTYPE html>
<html lang="en">
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <title>{% block title %}{% endblock %}</title>

  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="https://mapstraction.com/mxn/build/latest/mxn.js?(googlev3)" type="text/javascript"></script>

</head>

<body>
  <header>
    <ul>
      <li><a href="{{ url_for('index') }}">Make a new map</a></li>
      <li><a href="{{ url_for('archive') }}">Maps already made</a>
        <ul>
          <li>London</li>
          <li>Paris</li>
          <li>Stockholm</li>
        </ul>
      </li>
      <!-- Oooh could filter maps in archive by location -->
    </ul>
  </header>

  <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>