<!DOCTYPE html>
<html lang="en">
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <title>{% block title %}{% endblock %}</title>

  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="{{ url_for('static', filename='js/mxn/mxn.js') }}?(googlev3)" type="text/javascript"></script>

</head>

<body>

  <header>
    <ul>
      {% if request.path != url_for('index') and request.path != '/' %}
      <li><a href="{{ url_for('index') }}">Map Making</a></li>
      {% endif %}
      {% if request.path != url_for('archive') %}
      <li><a href="{{ url_for('archive') }}">Map Archive</a></li>
      {% endif %}
    </ul>
  </header>

  <div id="content">{% block content %}{% endblock %}</div>

  {% if request.path != url_for('index') and request.path != '/' %}
  <footer>
    <h5>Attribution</h5>
    <p>
      Some of the map designs provided by this web application are © Stamen Design, under a Creative Commons Attribution (CC BY 3.0) license:
      Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>.
      Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.
    </p>
  </footer>
  {% endif %}

</body>
</html>