{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block content %}


<div id='map'></div>

<form action="{{ url_for('assemble') }}" method='post' enctype='multipart/form-data' id="myForm">

	<input type='hidden' id='mapidField'     name='map_id' value='{{ next_map_id }}' />
	<input type="hidden" id="mapcentreField" name="coord" value="" />
	<input type="hidden" id="mapzoomField"   name="zoom2" value="" />

	<ul>
		<li class="where">
			<div class="label">Where</div>
			<ul>
				<li>
					<input type="text" />
				</li>
				<li>
					<input type="radio" name="where" value="london" id="london" onchange="changeCentre('London')" />
					<label for="london">London</label>
				</li>
				<li>
					<input type="radio" name="where" value="paris" id="paris" onclick="changeCentre('Paris')" />
					<label for="paris">Paris</label>
				</li>
				<li>
					<input type="radio" name="where" value="stockholm" id="stockholm" onchange="changeCentre('Stockholm')" />
					<label for="stockholm">Stockholm</label>
				</li>
			</ul>
		</li>
	
		<li class="zoom">
			<div class="label">Zoom level</div>
			<ul>
				<li>
					<input type="radio" name="zoom" value="13" id="13" />
					<label for="13">City view</label>
				</li>
				<li>
					<input type="radio" name="zoom" value="15" id="15" />
					<label for="15">Street view</label>
				</li>
			</ul>
		</li>
		
		<li class="design">
			<!-- Dynamically generate this map provider list from the mapgift.py file -->
			<div class="label">Design</div>
			<ul>
				{% for shortcut, name in providers.iteritems() %}
				<li>
					<input type="radio" name="design" value="{{ shortcut }}" id="{{ shortcut }}" />
					<label for="{{ shortcut }}">{{ shortcut|title }}</label>
				</li>
				{% endfor %}
			</ul>
		</li>

		<li class="placemarks">
			<div class"optional">
			<div class="label"><label for="placemarks">Placemarks</label></div>
			<ul>
				<li>
					<input type="file" name="placemarks" id="placemarks" />
				</li>
			</ul>
			</div>
		</li>
	</ul>

	{% if config.debug %}
	<input type="button" id="disp" value="Get coordinates" />
	{% endif %}
	<input type="submit" id="generate-map" name="submit" value="Generate Map n°{{ next_map_id }}" onClick="mySubmit()" />
</form>


<script type="text/javascript">

	var places = {
		"London":    new mxn.LatLonPoint(51.50733, -0.12769),
		"Paris":     new mxn.LatLonPoint(48.8567,	2.3508),
		"Stockholm": new mxn.LatLonPoint(59.329444, 18.068611)
	};

	var map = new mxn.Mapstraction('map', 'googlev3'); 
	var latlon = places["London"];
	var labels = $('form>ul>li>ul label')

	map.setCenterAndZoom(latlon, 10);
	map.addControls({ pan: false, zoom: 'large' || 'small', overview: false, scale: false, map_type: false });
	map.enableScrollWheelZoom();
	map.addSmallControls();

	var mapcentre = map.getCenter().toString();
	var mapzoom = map.getZoom().toString();

	document.getElementById('map').addEventListener('mouseover', function(event) {
		for (var i = labels.length - 1; i >= 0; i--) {
			labels[i].style.opacity = 0.5;
		};
	});

	document.getElementById('map').addEventListener('mouseout', function(event) {
		for (var i = labels.length - 1; i >= 0; i--) {
			labels[i].style.opacity = 1;
		};
	});

	document.getElementById('map').addEventListener('drag', function(event) {
		$('body')[0].style.backgroundColor = 'red';
	});

	map.endPan.addHandler(function(eventName, eventSource, eventArgs) {
		// map panning complete
		mapcentre = map.getCenter().toString();
	});

	map.changeZoom.addHandler(function(eventName, eventSource, eventArgs) {
		// map zooming complete
		mapzoom = map.getZoom().toString();
	});

	document.getElementById('disp').addEventListener('click', function(event) {
		alert(mapcentre);
	});

	function mySubmit() {
		document.getElementById('mapcentreField').value = mapcentre;
		document.getElementById('mapzoomField').value = mapzoom;
		document.getElementById('myForm').submit();
	};

	function changeCentre(latlon) {
		map.setCenter(places[latlon]);
		mapcentre = map.getCenter().toString();
	};

</script>


{% endblock %}