{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block content %}

<div id='map'></div>

<form action="{{ url_for('assemble') }}" method='post' enctype='multipart/form-data' id="myForm">

	<input type='hidden' id='mapidField'     name='map_id' value='{{ next_map_id }}' />
	<input type="hidden" id="mapcentreField" name="coord" value="" />
	<input type="hidden" id="mapzoomField"   name="zoom2" value="" />

	<ul>
		<li class="where">
			<div class="label">Where</div>
			<ul>
				<li>
					<input type="text" />
				</li>
				<li>
					<input type="radio" name="where" value="london" id="london" onclick="changeCentre('London')" />
					<label for="london">London</label>
				</li>
				<li>
					<input type="radio" name="where" value="paris" id="paris" onclick="changeCentre('Paris')" />
					<label for="paris">Paris</label>
				</li>
				<li>
					<input type="radio" name="where" value="stockholm" id="stockholm" onclick="changeCentre('Stockholm')" />
					<label for="stockholm">Stockholm</label>
				</li>
			</ul>
		</li>
	
		<li class="zoom">
			<div class="label">Zoom level</div>
			<ul>
				<li>
					<input type="radio" name="zoom" value="13" id="13" />
					<label for="13">City view</label>
				</li>
				<li>
					<input type="radio" name="zoom" value="15" id="15" />
					<label for="15">Street view</label>
				</li>
			</ul>
		</li>
		
		<li class="design">
			<!-- Dynamically generate this map provider list from the mapgift.py file -->
			<div class="label">Design</div>
			<ul>
				{% for shortcut, name in providers.iteritems() %}
				<li>
					<input type="radio" name="design" value="{{ shortcut }}" id="{{ shortcut }}" />
					<label for="{{ shortcut }}">{{ shortcut|title }}</label>
				</li>
				{% endfor %}
			</ul>
		</li>

		<li class="placemarks">
			<div class"optional">
			<div class="label"><label for="placemarks">Placemarks</label></div>
			<ul>
				<li>
					<input type="file" name="placemarks" id="placemarks" />
				</li>
			</ul>
			</div>
		</li>
	</ul>

	{% if config['DEBUG'] %}
	<input type="button" id="get_coor" value="Get coordinates" />
	{% endif %}
	<input type="submit" id="generate-map" name="submit_button" value="Generate Map n°{{ next_map_id }}" onclick="mySubmit()" />
</form>


<script type="text/javascript">

	var MM_proj = new OpenLayers.Projection('EPSG:4326');
	var OpL_proj = new OpenLayers.Projection('EPSG:900913');

	var places = {
		'London':    new OpenLayers.LonLat(-0.12769, 51.50733)
			.transform(MM_proj, OpL_proj),
		'Paris':     new OpenLayers.LonLat(2.3508, 48.8567)
			.transform(MM_proj, OpL_proj),
		'Stockholm': new OpenLayers.LonLat(18.068611, 59.329444)
			.transform(MM_proj, OpL_proj)
	};

	function updateMeasuredCoordinates() {
		mapcentre = map.getCenter()
			.transform(map.getProjection(), MM_proj);
		mapcentre = mapcentre.lat + ',' + mapcentre.lon;
		mapzoom = map.getZoom().toString();
	}

	var labels = $('form>ul>li>ul label');

	function changeLabelsOpacity(opacity_level) {
		for (var i = labels.length - 1; i >= 0; i--) {
			labels[i].style.opacity = opacity_level;
		};
	}
	
	// define custom map event listeners
	function mapPanStarts (event) {
		changeLabelsOpacity(0.3);
	}
	function mapPanEnds (event) {
		changeLabelsOpacity(1);
		updateMeasuredCoordinates();
	}
	function mapZoomEnds (event) {
		updateMeasuredCoordinates();
	}

	var map = new OpenLayers.Map('map', {
		eventListeners: {
			'movestart': mapPanStarts,
			'moveend': mapPanEnds,
			'zoomend': mapZoomEnds,
		},
	});

	var layer = new OpenLayers.Layer.Stamen('toner-background');
	map.addLayer(layer);

	changeCentre('London', 1);

	document.getElementById('get_coor').addEventListener('click', function(event) {
		alert(mapcentre);
	});

	function mySubmit() {
		document.getElementById('mapcentreField').value = mapcentre;
		document.getElementById('mapzoomField').value = mapzoom;
		document.getElementById('myForm').submit();
	};

	function changeCentre(area_name, zoom) {
		if(typeof(zoom) === 'undefined') zoom = 11;
		map.setCenter(places[area_name], zoom);
	};

</script>


{% endblock %}