{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block content %}

<div id='map'></div>

<form action="{{ url_for('assemble') }}" method='post' enctype='multipart/form-data' id="myForm">

	<input type='hidden' id='mapidField'     name='map_id' value='{{ next_map_id }}' />
	<input type="hidden" id="mapcentreField" name="coord" value="" />
	<input type="hidden" id="mapzoomField"   name="zoom2" value="" />

	<ul>
		<li class="where">
			<div class="label">Where</div>
			<ul>
				<li>
					<input type="text" />
				</li>
				{% for area_name, coor in places.iteritems() %}
				<li>
					<input type="radio" name="where" value="{{ area_name }}" id="{{ area_name }}" coor="{{ coor }}" />
					<label for="{{ area_name }}">{{ area_name|title }}</label>
				</li>
				{% endfor %}
			</ul>
		</li>
	
		<li class="zoom">
			<div class="label">Zoom level</div>
			<ul>
				<li>
					<input type="radio" name="zoom" value="13" id="13" />
					<label for="13">City view</label>
				</li>
				<li>
					<input type="radio" name="zoom" value="15" id="15" />
					<label for="15">Street view</label>
				</li>
			</ul>
		</li>
		
		<li class="design">
			<!-- Dynamically generate this map provider list from the mapgift.py file -->
			<div class="label">Design</div>
			<ul>
				{% for short_name, name in providers.iteritems() %}
				<li>
					<input type="radio" name="design" value="{{ short_name }}" id="{{ short_name }}" />
					<label for="{{ short_name }}">{{ short_name|title }}</label>
				</li>
				{% endfor %}
			</ul>
		</li>

		<li class="placemarks">
			<div class"optional">
			<div class="label"><label for="placemarks">Placemarks</label></div>
			<ul>
				<li>
					<input type="file" name="placemarks" id="placemarks" />
				</li>
			</ul>
			</div>
		</li>
	</ul>

	{% if config['DEBUG'] %}
	<input type="button" id="get_coor" value="Get coordinates" />
	{% else %}
	<input type="hidden" id="get_coor" />
	{% endif %}
	<input type="submit" id="generate-map" name="submit_button" value="Generate Map n°{{ next_map_id }}" />
</form>

{% endblock %}